<h2>Search Feature</h2>

<p>Full width:</p>
<form class="example" action="{{url}}/crawl" method="post">
    <input type="text" placeholder="Search.." name="link">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

